/*
=====================================================
    CART
=====================================================
*/
$cartImgWidth: 120px;
.cartWidget {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    font-size: 2rem;
}

@media only screen and (max-width: 700px) {
    .cartItems {
        td {
            &:first-of-type {
                width: 100%;
                margin: 5px 0;
                padding: 0 10px;
                a {
                    width: auto;
                }
                
                &:before {
                    display: none;
                }
            }
        }
        
        th {
            width: 20%;
        }
    }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
    .cartItems {
        th {
            font-size: 2rem !important;
        }
        td {
            font-size: 1.6rem;
        }
    }
}
@media only screen and (min-width: 700px) {
    .cartItems {
        th:first-child {
            width: 44%;
        }
        
        th:not(:first-child):not(:last-child) {
            width: 12%;
        }
        
        th:last-child {
            width: 20%;
        }
    }
}

.cartItemImgTD {
    width: $cartImgWidth;
}


.cartItemImgContainer {
    height: $cartImgWidth;
    width: $cartImgWidth;
}

.cartItemQuantity {
    height: 50px;
    width: 50px;
    text-align: center;
}

.cartItemRemove {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 5px;
    margin: auto;
}

.cartSummary {
    width: 50%;
    min-width: 200px;
    margin: 0 0 0 auto;
    
    span {
        height: 2em;
    }
    
    a {
        height: 5em;
        font-size: 2.5rem;
    }
}


