.orderWidgetStages {
    display: flex;
    flex-direction: row;
    width: 90%;
    min-width: 250px;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    position: relative;
    --stage0C: radial-gradient(#d35400, #d35400 30%, transparent 34%)
        no-repeat calc(10% - 20px) 28px / 50px 50px;
    --stage1C: radial-gradient(#d35400, #d35400 30%, transparent 34%)
        no-repeat calc(30% - 10px) 28px / 50px 50px;
    --stage2C: radial-gradient(#d35400, #d35400 30%, transparent 34%)
        no-repeat 50% 28px / 50px 50px;
    --stage3C: radial-gradient(#d35400, #d35400 30%, transparent 34%)
        no-repeat calc(70% + 10px) 28px / 50px 50px;
    --stage4C: radial-gradient(#d35400, #d35400 30%, transparent 34%)
        no-repeat calc(90% + 20px) 28px / 50px 50px;
    
    
    background:
        linear-gradient(to bottom,#242424, #242424)
            no-repeat center 40px / 80% 25px,
        radial-gradient(#242424, #242424 60%, transparent 64%)
            no-repeat calc(10% - 20px) 28px / 50px 50px,
        radial-gradient(#242424, #242424 60%, transparent 64%)
            no-repeat calc(30% - 10px) 28px / 50px 50px,
        radial-gradient(#242424, #242424 60%, transparent 64%)
            no-repeat 50% 28px / 50px 50px,
        radial-gradient(#242424, #242424 60%, transparent 64%)
            no-repeat calc(70% + 10px) 28px / 50px 50px,
        radial-gradient(#242424, #242424 60%, transparent 64%)
            no-repeat calc(90% + 20px) 28px / 50px 50px;
    &:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
    }
    &.stage0:after {
        background: var(--stage0C);
    }
    
    &.stage1:after {
        background:
            linear-gradient(to bottom,#d35400, #d35400)
                no-repeat 12% 47px / 20% 10px,
            var(--stage0C), var(--stage1C);
    }
    
    &.stage2:after {
        background:
            linear-gradient(to bottom,#d35400, #d35400)
                no-repeat 18% 47px / 40% 10px,
            var(--stage0C), var(--stage1C), var(--stage2C);
    }
    
    &.stage3:after {
        background:
            linear-gradient(to bottom,#d35400, #d35400)
                no-repeat 24% 47px / 61% 10px,
            var(--stage0C), var(--stage1C), var(--stage2C), var(--stage3C);
    }
    
    &.stage4:after {
        background:
            linear-gradient(to bottom,#d35400, #d35400)
                no-repeat 53% 47px / 80% 10px,
            var(--stage0C), var(--stage1C), var(--stage2C), var(--stage3C), var(--stage4C);
    }
    
    li {
        width: 20%;
        font-size: 2rem;
        text-align: center;
        position: relative;
        
        &.current {
            font-weight: bold;
        }
        &:nth-child(2n) {
            padding: 80px 0 0 0;
        }
    }
}

@media only screen and (max-width: 380px) {
    .orderWidgetStages li {
        font-size: 1.6rem;
    }
}

.checkoutWidgetContent {
    margin: 10px 0 10px 0;
}

.checkoutWidgetLoginRequired {
    text-align: center;
    display: block;
    font-size: 2.5rem;
    color: darkred;
}

#checkoutPage {
    input[type=text], input[type=tel], input[type=email], textarea {
        background: linear-gradient(black, #242424, black);
        border: 2px solid silver;
        border-radius: 5px;
        color: silver;
        text-align: center;
        font-size: 2rem;
        padding: 15px;
        
        &:focus {
            border: 4px solid #d35400;
        }
        
        &.wrongInput {
            border: 4px solid red;
        }
        
        &.approvedInput {
            border: 4px solid green;
        }
    }
    
    input[type=checkbox], input[type=radio] {
        background: linear-gradient(black, #242424, black);
        border: 2px solid silver;
        border-radius: 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        cursor: pointer;
        outline: none;
        position: relative;
        height: 50px;
        width: 50px;
        margin: 0 5px 0 0;
        
        &:checked {
            background: radial-gradient(silver, #b4b4b4) no-repeat center / 70% 70%,
            linear-gradient(black, #242424, black);
        }
    }
    
    input[type=radio] {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        &:checked {
            background: radial-gradient(silver, #b4b4b4 40%, transparent 45%),
            linear-gradient(black, #242424, black);
        }
    }
    
    a:not(.checkoutWidgetPreviousLink):not(.loginWidgetNavLoginButton):not(.loginWidgetNavRegisterButton) {
        color: black;
        transition: all 0.1s ease;
        text-decoration: none;
        font-style: italic;
        &:hover, &:active {
            color: #5a5a5a;
        }
    }
    
    .woocommerce-error {
        text-align: center;
        font-size: 2rem;
        padding: 20px 10%;
    }
    
    .woocommerce-form__label-for-checkbox {
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: center;
        span {
            display: block;
            width: auto;
        }
    }
}

.checkoutWidgetBilling {
    text-align: center;
    font-size: 2rem;
    h3 {
        font-size: 3rem;
    }
    
    p {
        margin: 5px 0 10px 0;
        label {
            display: block;
            width: 100%;
            height: auto;
        }
        
        span {
            display: block;
            width: 100%;
            height: auto;
        }
        
        input {
            width: 60%;
            min-width: 300px;
        }
        
    }
    
    .woocommerce-form__label-for-checkbox {
        span {
            padding: calc((50px - 3rem)/2) 0;
        }
    }
    
    #order_comments {
        width: 60%;
        height: 200px;
        resize: none;
        overflow-y: auto;
        min-width: 300px;
    }
}

.checkoutWidgetSummary {
    .shop_table {
        width: 90%;
        min-width: 300px;
        margin: 0 auto;
        border-collapse: collapse;
        border: none;
        text-align: center;
        table-layout: fixed;
        
        thead {
            tr {
                background:
                        $buttonGradient no-repeat top left / 100% calc(100% - 10px),
                        $bgRepeatingGradient no-repeat bottom left / 100% 10px;
                box-shadow: 1px 2px 2px 1px #3d3d3d, 2px 2px 8px white;
                border-radius: 10px;
                color: silver;
                
            }
            th {
                font-size: 2.5rem;
                padding: 20px 0;
                
                &:first-child {
                    width: 50%;
                    border-radius: 10px 0 0 10px;
                }
                
                &:last-child {
                    border-radius: 0 10px 10px 0;
                    width: 50%;
                }
            }
        }
        
        tbody {
            tr {
                &:nth-child(2n) {
                    background: #eeeeee;
                }
            }
            
            td {
                padding: 20px 0;
                font-size: 2rem;
                
            }
        }
        
        tfoot {
            .cart-subtotal, .woocommerce-shipping-totals, .order-total {
                th, td {
                    padding: 15px;
                    display: block;
                    clear:both;
                    width: 200%;
                }
                th {
                    background:
                            $buttonGradient no-repeat top left / 100% calc(100% - 10px),
                            $bgRepeatingGradient no-repeat bottom left / 100% 10px;
                    box-shadow: 1px 2px 2px 1px #3d3d3d, 2px 2px 8px white;
                    border-radius: 10px;
                    color: silver;
                    font-size: 2.2rem;
                }
                
                td {
                    font-size: 2rem;

                }
            }
            #shipping_method {
                list-style: none;
                text-align: left;
                display: inline-block;
                
                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 5px 0;
                    
                    label {
                        width: calc(100% - 30px);
                    }
                }
            }
            .paczkomaty-shipping {
                font-size: 2rem;
                
                #select2-paczkomat_id-container {
                    line-height: 50px;
                    height: 50px;
                    width: 100%;
                }
                
                .select2-selection {
                    height: auto;
                    width: 100%;
                }
                
                .select2-selection__arrow {
                    height: 50px;
                    
                    b {
                        border-width: 10px 8px 0 8px;
                        left: 10%;
                    }
                }
    
                .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
                    border-width: 0 8px 10px 8px;
                }
                
                #open-geowidget {
                    padding: 15px 0 8px 0;
                    display: block;
                }
            }
        }
    }
}

.checkoutWidgetPayment {
    text-align: center;
    font-size: 2rem;
    width: 90%;
    min-width: 300px;
    margin: 0 auto;
    
    .wc_payment_methods {
        list-style: none;
        padding: 20px;
    }
    
    .wc_payment_method {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    
    .payment_box {
        padding: 5px;
        margin: 5px;
        background: #eeeeee;
    }
    
    .place-order {
        padding: 20px;
    }
    
    .woocommerce-form__label-for-checkbox {
        span {
            padding: calc((50px - 2rem)/2) 0;
        }
    }
    
    button[type=submit] {
        height: 100px !important;
        margin: 20px 0 !important;
        border-radius: 10px;
    }
}

.checkoutWidgetNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    div {
        width: 45%;
        button, a {
            height: 80px;
        }
        &:only-child {
            margin: 0 0 auto 0;
        }
    }
}