/*
=====================================================
    COMMON
=====================================================
*/
$buttonGradient: linear-gradient(black, #242424, black);

:root {
}

.transitionEase {
    transition: all 0.3s ease;
}

.fontBold {
    font-weight: bold;
}

.textAlignCenter {
    text-align: center;
}

.colorSilver {
    color: silver;
}

.flexCenterCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listStyleNone {
    list-style: none;
}

.gradientInput {
    background: linear-gradient(black, #242424, black);
    border: 2px solid silver;
    border-radius: 5px;
    color: silver;
    text-align: center;
}

.gradientButton {
    border-radius: 5px;
    background: $buttonGradient;
    box-sizing: border-box;
    cursor: pointer;
    * {
        color: silver;
        background: none;
        width: 100%;
        height: 100%;
    }
    
    a, input[type=submit] {
        border-radius: 5px;
        border: 0 solid #d35400;
        border-bottom-width: 5px;
        transition: border-bottom-width 0.3s ease;
    
        &:active {
            border-bottom-width: 0;
        }
    }
    

}

.loadingScreen {
    position: relative;
}

.loadingScreen:before {
    display: block;
    content: '';
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
}

.loadingScreen:after {
    width: 64px;
    height: 64px;
    display: block;
    content: '';
    border: 6px solid silver;
    border-color: silver transparent silver transparent;
    border-radius: 50%;
    position: absolute;
    z-index: 1001;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    animation: loading 1.2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*
=====================================================
    NEWSLETTER
=====================================================
*/
.newsletterForm {
    width: 100%;
    height: 100%;

    input {
        border: 0;

        &:not([type="submit"]) {
        }

        &::placeholder {
        }
    }
}

/*
=====================================================
    CUSTOM SELECT
=====================================================
*/
.customSelect {
    height: auto;
    position: relative;
}

.customSelect select {
    display: none;
}

.customSelectSelected {
    height: auto;
    position: relative;
    border-radius: 5px;
    background: $buttonGradient;
    &:after {
        position: absolute;
        content: "";
        top: calc(50% - 4px);
        right: 10px;
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-color: #fff transparent transparent transparent;
    }
    &.selectArrowActive:after {
        border-color: transparent transparent #fff transparent;
        top: calc(50% - 12px);
    }
}

/*style the items (options), including the selected item:*/
.customSelectItem,.customSelectSelected {
    color: silver;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

.customSelectItemsContainer {
    position: absolute;
    border-radius: 5px;
    background: $buttonGradient;
    border-bottom: 5px solid #d35400;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    height: auto;
    max-height: 300px;
    overflow-y: auto;
}

.customSelectItem {
    height: auto;
    padding: 15px 5px;
    border: 0 solid silver;
    border-width: 1px 0;
}

.customSelectHide {
    display: none;
}

.customSelectItem:hover, .sameAsSelected {
    background-color: rgba(255, 255, 255, 0.1);
}
/*
=====================================================
    ANIMATIONS
=====================================================
*/
.pulseAnimationButton {
    animation: pulse 3s infinite;
    animation-delay: 1s;
}

@keyframes pulse {
    20% {
        box-shadow: 0 0 20px 20px rgba(204,169,44, 0);
    }
    30%, 100% {
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}


/*
=====================================================
    BUTTONS
=====================================================
*/

.buttonGradient {
    height: 50px;
    background: silver;
    border: 5px silver groove;
    
    a {
        color: black;
        height: 100%;
        width: 100%;
    }
}