/*
=====================================================
    COMMON
=====================================================
*/
$buttonGradient: linear-gradient(black, #242424, black);

:root {
}

.transitionEase {
    transition: all 0.3s ease;
}

.fontBold {
    font-weight: bold;
}

.textAlignCenter {
    text-align: center;
}

.colorSilver {
    color: silver;
}

.flexCenterCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listStyleNone {
    list-style: none;
}

.hide {
    display: none !important;
}

.gradientSectionNav {

}

.blackLink {
    color: black;
    transition: all 0.1s ease;
    text-decoration: none;
    font-style: italic;
    
    &:hover, &:active {
        color: #5a5a5a;
    }
}

.silverLink {
    color: silver;
    transition: all 0.1s ease;
    text-decoration: none;
    font-style: italic;
    
    &:hover, &:active {
        color: #5c5c5c;
    }
}

.verticalLabels {
    display: block;
    width: 100%;
    height: auto;
    font-size: 2rem;
    text-align: center;
    margin: 0 0 20px 0;
    
    * {
        text-align: center;
    }
    
    span {
        display: block;
        width: 100%;
    }
    
    input {
        display: block;
        width: 100%;
        height: 50px;
    }
}

.horizontalCheckboxLabels {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: auto;
    font-size: 2rem;
    text-align: left;
    margin: 0 auto 20px auto;
    
    span {
        display: block;
        width: calc(100% - 70px);
        padding: 10px 0 0 0;
    }
    
    input {
        display: block;
        width: 50px;
        height: 50px;
    }
}

.gradientInput {
    background: linear-gradient(black, #242424, black);
    border: 2px solid silver;
    border-radius: 5px;
    color: silver;
    text-align: center;
    
    &:focus {
        border: 4px solid #d35400;
    }
    
    &.wrongInput {
        border: 4px solid red;
    }
    
    &.approvedInput {
        border: 4px solid green;
    }
}

.gradientCheckbox {
    background: linear-gradient(black, #242424, black);
    border: 2px solid silver;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    position: relative;
    
    &:checked {
        font-size: 2rem;
        background: radial-gradient(silver, #b4b4b4) no-repeat center / 70% 70%,
            linear-gradient(black, #242424, black);
    }
    
}

.gradientButton, .woocommerce-MyAccount-navigation-link {
    border-radius: 5px;
    background: $buttonGradient;
    box-sizing: border-box;
    
    * {
        color: silver;
        background: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-size: 2rem;
    }
    
    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    a, input[type=submit], button {
        border-radius: 5px;
        border: 0 solid #d35400;
        border-bottom-width: 5px;
        transition: border-bottom-width 0.3s ease;
        height: 50px;
    
        &:not([disabled]):hover {
            color: #727272;
        }
        
        &:active {
            border-bottom-width: 0;
        }
    }
}


/*
=====================================================
    WIDGETS
=====================================================
*/

.widget {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    background: rgba(0,0,0,0.9);
    height: calc(var(--vh, 1vh) * 100);
}

@media screen and (min-width: 996px) {
    .widget {
        width: 90vw;
        height: 90vh;
        top: 5vh;
        left: 5vw;
        
        &:after {
            z-index: -1;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            content: '';
        }
    }
}

/*
=====================================================
    LOADINGS
=====================================================
*/

.successScreen, .errorScreen {
    position: relative;
    &:before, &:after {
        display: block;
        position: absolute;
    }
    
    &:before {
        content: '';
        background: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        z-index: 200;
        height: 100%;
        width: 100%;
    }
    
    &:after {
        width: 100px;
        height: 100px;
        content: '\2713';
        z-index: 201;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: lightgreen;
        font-size: 5rem;
    }
}

.errorScreen {
    &:after {
        content: 'X';
        color: darkred;
    }
}

@mixin loadingMixin($width, $height, $top, $left, $color, $translate, $animation: none, $content: ''){
    position: relative;
    
    &:after {
        background: none;
        display: block;
        position: absolute;
        top: $top;
        left: $left;
        z-index: 201;
        content: $content;
        width: $width;
        height: $height;
        box-sizing: border-box;
        border: 6px solid $color;
        border-color: $color transparent $color transparent;
        border-radius: 50%;
        transform: $translate;
        animation: $animation 1.2s linear infinite;
    }
    @if $animation != none {
        @keyframes #{$animation} {
            0% {
                transform: $translate rotate(0deg);
            }
            100% {
                transform: $translate rotate(360deg);
            }
        }
    }
}

.loadingCenter {
    @include loadingMixin(30px, 30px, 50%, 50%, black, translate(-50%, -50%), loadingCenter);
}

.loadingRight {
    @include loadingMixin(30px, 30px, 50%, calc(100% - 5px), silver, translate(-100%, -50%), loadingRight);
}

.loadingScreen {
    @include loadingMixin(64px, 64px, 50%, 50%, silver, translate(-50%, -50%), loadingCenter);
    &:before {
        display: block;
        content: '';
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;
        height: 100%;
        width: 100%;
    }
}

.successRight {
    position: relative;
    
    &:after {
        font-size: 3rem;
        color: green;
        background: none;
        display: block;
        position: absolute;
        top: 50%;
        left: calc(100% - 5px);
        z-index: 201;
        content: '\2713';
        width: auto;
        height: auto;
        box-sizing: border-box;
        transform: translate(-100%, -50%);
    }
}


/*
=====================================================
    NEWSLETTER
=====================================================
*/
.newsletterForm {
    width: 100%;
    height: 100%;

    input {
        border: 0;

        &:not([type="submit"]) {
        }

        &::placeholder {
        }
    }
}

/*
=====================================================
    CUSTOM SELECT
=====================================================
*/
.customSelect {
    height: auto;
    position: relative;
}

.customSelect select {
    display: none;
}

.customSelectSelected {
    height: auto;
    position: relative;
    border-radius: 5px;
    background: $buttonGradient;
    &:after {
        position: absolute;
        content: "";
        top: calc(50% - 4px);
        right: 10px;
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-color: #fff transparent transparent transparent;
    }
    &.selectArrowActive:after {
        border-color: transparent transparent #fff transparent;
        top: calc(50% - 12px);
    }
}

/*style the items (options), including the selected item:*/
.customSelectItem,.customSelectSelected {
    color: silver;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

.customSelectItemsContainer {
    position: absolute;
    border-radius: 5px;
    background: $buttonGradient;
    border-bottom: 5px solid #d35400;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    height: auto;
    max-height: 300px;
    overflow-y: auto;
}

.customSelectItem {
    height: auto;
    padding: 15px 5px;
    border: 0 solid silver;
    border-width: 1px 0;
}

.customSelectHide {
    display: none;
}

.customSelectItem:hover, .sameAsSelected {
    background-color: rgba(255, 255, 255, 0.1);
}
/*
=====================================================
    ANIMATIONS
=====================================================
*/
.pulseAnimationButton {
    animation: pulse 3s infinite;
    animation-delay: 1s;
}

@keyframes pulse {
    20% {
        box-shadow: 0 0 20px 20px rgba(204,169,44, 0);
    }
    30%, 100% {
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}


/*
=====================================================
    BUTTONS
=====================================================
*/

.buttonGradient {
    height: 50px;
    background: silver;
    border: 5px silver groove;
    
    a {
        color: black;
        height: 100%;
        width: 100%;
    }
}