#siteFooter{
    display: grid;
    grid-template-areas: "ftrNav" "ftrInfo" "ftrCopyright";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    box-shadow: 0 0 8px 4px $shadowGrayColor;
    border-radius: 10px 10px 0 0;
    z-index: 10;
    background: linear-gradient(to bottom, #232323, #343434, #232323);
    
}

#ftrInfo {
    grid-area: ftrInfo;
    text-align: center;
}

#ftrNav {
    grid-area: ftrNav;
}
#ftrNav, #ftrInfo {
    font-size: 2rem;
    padding: 30px 0;
    color: silver
}

#ftrInfoList, #ftrNavList {
    width: 80%;
    list-style: none;
    flex-flow: row wrap;
    li {
        width: 100%;
        padding: 10px 0;
    }
}

#ftrCopyright {
    background: linear-gradient(to bottom, #727272, silver, #727272);
    color: black;
    font-size: 1.6rem;
    padding: 5px;
    grid-area: ftrCopyright;
}

@media screen and (min-width: 600px) {
    #ftrNavList {
        li {
            width: 50%;
        }
    }
}

@media screen and (min-width: 800px) {
    #siteFooter {
        grid-template-areas: "ftrNav ftrInfo" "ftrCopyright ftrCopyright";
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto;
    }
}

