$bgMobileGradient: linear-gradient(170deg, black, #171717 29%, black 55%,
        #d35400 56%, #d35400 calc(56% + 5px), transparent calc(57% + 5px));
$bgDesktopGradient: linear-gradient(135deg, black, #171717 32.5%, black 65%,
        #d35400 65%, #d35400 calc(65% + 15px), transparent calc(65% + 15px));

#hdrContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    background: $buttonGradient;
    position: relative;
    z-index: 10;
}

@media screen and (min-width: $breakDesktop) and (min-height: $breakNavHeight) {
    #hdrContainer {
        box-shadow: 0 0 12px 8px $colorLightGray;
        border-radius: 0 0 10px 10px;
    }
}

#hdrLogo {
    width: 100%;
    margin: 20px 0 0 0;
    height: auto;
}

@media screen and (min-width: 996px) {
    #hdrLogo {
        margin: 0;
    }
}

#hdrLogoLink {
    width: 100%;
    height: 100%;
}

#hdrBannerContainer {
    width: 100%;
    padding: 20px;
    height: 180px;
}

@media screen and (min-width: 400px) {
    #hdrBannerContainer {
        height: 250px;
    }
}

@media screen and (min-width: 600px) {
    #hdrBannerContainer {
        height: 320px;
    }
}

#hdrBanner {
    max-width: 100%;
    max-height: 100%;
}

#hdrContactInfoList {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    flex-flow: row nowrap;
    justify-content: flex-end;
    display: none;
}

@media screen and (min-width: 600px) {
    #hdrContactInfoList {
        display: flex;
    }
}

.hdrContactInfoListItem {
    padding: 0 10px;
}

#hdrMenu {
    width: 100%;
    height: auto;
}

#hdrMenuList {
    width: 100%;
    flex-flow: row wrap;
}

.hdrMenuListItem {
    flex: 1 0 200px;
}
