/*
=====================================================
    SITE LAYOUT
=====================================================
*/

//$bgGradient:
//        radial-gradient(circle at 0%,
//                rgba(45, 45, 45, 0.1), rgba(45, 45, 45, 0.3) 50%,
//                rgba(25, 25, 25, 0.5) 75%, transparent 75%),
//        rgb(89, 14, 189);

$bgGradient: linear-gradient(to top,#15152d,#29104b,#15152d);
$desktopNavWidth: 200px;
$mobileNavHeight: 100px;

#siteContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 300px auto auto;

    #siteHeader {
        grid-area: header;
        background: $bgGradient;
    }

    #siteMain {
        grid-area: main;
        display: flex;
        flex-direction: column;
        position: relative;

        #mainContent {
            height: auto;
            width: 100%;
        }
    }

    #siteFooter {
        grid-area: footer;
    }
}

@media screen and (min-height: 600px) and (min-width: 996px) {
    #siteContainer {

        #siteMain {
            flex-direction: row;


            #mainContent {
                width: calc(100% - #{$desktopNavWidth});
            }
        }
    }
}

