/*
=====================================================
    SITE LAYOUT
=====================================================
*/

//$bgGradient:
//        radial-gradient(circle at 0%,
//                rgba(45, 45, 45, 0.1), rgba(45, 45, 45, 0.3) 50%,
//                rgba(25, 25, 25, 0.5) 75%, transparent 75%),
//        rgb(89, 14, 189);

#siteContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    #siteHeader {
        grid-area: header;
        background: linear-gradient(45deg, #232323, #343434, #232323);
    }

    #siteMain {
        grid-area: main;
        display: flex;
        flex-direction: column;
        position: relative;
        //background: linear-gradient(45deg, #d0d0d0, white, #d0d0d0);
        min-height: 100vh;


        #siteMainContent {
            height: auto;
            width: 100%;
        }
    }

    #siteFooter {
        grid-area: footer;
        background: linear-gradient(45deg, #232323, #343434, #232323);
    }
}

@media screen and (min-height: 600px) and (min-width: 996px) {
    #siteContainer {
        background: $bgRepeatingGradient;
        #siteMain {
            flex-direction: row;
            width: calc(100% - 140px);
            margin: 0 auto;
            padding: 20px;
            box-shadow: 0 0 10px 5px #232323;
            background: white;
            #siteMainContent {
                width: calc(100% - #{$desktopNavWidth});
                //width: calc(100% - 200px);
                //margin: 0 0 0 -100px;
                //background: white;
                //box-shadow: 0 0 10px 5px #232323;
            }
        }
    }
}

#pageTitle {
    font-size: 3rem;
}

