/*
=====================================================
    LOGIN WIDGET
=====================================================
*/
.loginWidget {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/*
=====================================================
    LOGIN WIDGET - NOTICES
=====================================================
*/

.loginWidgetNotices {
    padding: 10px 5%;
    
}

.loginWidgetPrivilegesHeader {
    font-size: 2.5rem;
}

.loginWidgetPrivileges {
    display: flex;
    flex-direction: column;
    list-style: disc;
    font-size: 2rem;
}

/*
=====================================================
    LOGIN WIDGET - NAV
=====================================================
*/

.loginWidgetNav {
    border: 5px solid black;
    border-width: 0 0 2px 0;
    padding: 0 0 2px 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.loginWidgetNavList {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.loginWidgetNavListItem {
    width: 140px;
    background: linear-gradient(#242424 70%, black);
    border-radius: 20px 20px 5px 5px;
    font-size: 2rem;
    
    &.active {
        background: linear-gradient(#393939 70%, #242424);
        
        a {
            cursor: default;
            &:hover {
                color: silver;
            }
    
            &:active {
                border-bottom-width: 5px;
            }
        }
    }
}


/*
=====================================================
    LOGIN WIDGET - SECTIONS COMMON
=====================================================
*/


.registerFormSubmit, .loginFormSubmit {
    height: 80px !important;
}

.registerFormNotices, .loginFormNotices {
    font-size: 2rem;
    padding: 0 0 10px 0;
    
    strong {
        display: none;
    }
    
    a {
    
    }
}

.loginWidgetSectionTitle {
    width: 100%;
    //font-size: 3rem;
    //font-weight: bold;
    //margin: 0 0 20px 0;
    //padding: 10px 0 15px 0;
}
/*
=====================================================
    LOGIN WIDGET - LOGIN
=====================================================
*/

.loginWidgetLogin {
    padding: 20px 10%;
    text-align: center;
}

@media screen and (min-width: 996px) {
    .loginWidgetLogin {
        padding: 20px 20%;
    }
}

.lostPasswordLink {
    font-size: 2rem;
}

/*
=====================================================
    LOGIN WIDGET - REGISTER
=====================================================
*/

.loginWidgetRegister {
    padding: 20px 10%;
}

@media screen and (min-width: 996px) {
    .loginWidgetRegister {
        padding: 20px 20%;
    }
}