#customWoocommerce {
    font-size: 2rem;
    padding: 20px;
    text-align: center;
    h2 {
        font-size: 3rem;
    }

    input {
        height: 50px;

        &[type=checkbox], &[type=radio] {
            width: 50px;
        }

        &:not([type=checkbox]):not([type=radio]) {
            width: 50%;
            min-width: 200px;
        }
    }

    .woocommerce-form-row, .form-row {
        display: flex;
        flex-flow: column;
        align-items: center;
    }



    .woocommerce-privacy-policy-text, #billing_country_field, #shipping_country_field {
        display: flex;
        justify-content: center;
        > * {
            width: 50%;
            min-width: 200px;
        }
    }

    .woocommerce-input-wrapper {
        width: 100%;

        textarea {
            width: 50%;
            min-width: 200px;
            height: 100px;
            resize: vertical;
        }
    }

    .woocommerce-button, .select2-container {
        height: 50px;
        width: 50%;
        min-width: 200px;
    }

    table {
        margin: 0 auto;
    }

    #shipping_method {
        display: flex;
        flex-flow: column;
        align-items: center;
        list-style: none;

        li {
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            width: 100%;

            label {
                padding-left: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .wc_payment_methods {
        display: flex;
        flex-flow: column;
        align-items: center;
        list-style: none;

        li {
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            width: 50%;
            min-width: 200px;
            label {
                padding-left: 15px;
            }
        }
    }

    button {
        width: 50%;
        min-width: 200px;
        height: 50px;
    }
    
    .about_paypal {
        display: none;
    }
}
