/*
=====================================================
    NORMALIZATION
=====================================================
*/
html {
    font-size: 8px;
}

body {
    font-size: 2rem;
}

@media all and (min-width: 600px) {
    html {
        font-size: 10px;
    }
}

button {
    cursor: pointer;
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div, a, section, article, nav {
    width: 100%;
    height: auto;
}

html, body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    cursor: pointer;
}

textarea {
    font-size: 2rem;
    padding: 10px 0 0 0;
    resize: vertical;
    height: 250px;
}

input {
    outline: none;
    font-size: 2rem;
    padding: 15px 0;

    &[type='submit'] {
        cursor: pointer;
    }

    &:disabled {
        cursor: not-allowed;
    }
}
