body.orderWidgetActive {
    overflow: hidden;
}

.orderWidget {
    width: 100%;
    height: 100%;
    overflow: auto;
    //border: 10px groove #d35400;
    padding: 10px;
    background: white;
}

.orderWidgetPopup {
    border: 10px groove $colorGray;
    border-radius: 10px;
    box-shadow: 0 0 300px 30px $colorGray;
}

.orderWidgetCloseButton {
    height: 80px;
}

.orderWidgetNav {
}

.orderWidgetNextButtonContainer {
    width: 50%;
    min-width: 200px;
    margin: 0 18px 0 auto;
}

.orderWidgetPaginationLink {
    height: 80px;
    width: 100%;
    margin: 10px 0 10px 0;
}

.orderWidgetCloseButtonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.orderWidgetCloseButton {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}

