/*
=====================================================
    PAGINATION
=====================================================
*/
$paginationFontSize: 2rem;

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.paginationList {
    width: auto;
    display: flex;
    flex-flow: row wrap;
    list-style: none;

    li {
        height: 45px;
        margin: 5px;
        width: 45px;
        font-size: $paginationFontSize;

        &.paginationPageInput {
            width: auto;
            display: flex;
            flex-direction: row;

            input {
                width: 45px;
                height: 100%;
                border: 0;
                background: rgba(255, 255, 255, 0.08);
                border-radius: 10px;
            }

            span {
                width: auto;
                padding: 0 4px;
            }
        }
    }
}

.paginationNumbers, .paginationDots {
    display: none;
}

@media screen and (min-width: 600px) {
    .paginationNumbers, .paginationDots {
        display: block;
    }
}

.paginationCurrentPage {
    font-weight: bolder;
    cursor: default;
    span {
        font-size: $paginationFontSize + 0.5rem;
    }
}