/*
=====================================================
    PAGINATION
=====================================================
*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
}

.paginationList {
    width: auto;
    display: flex;
    flex-flow: row wrap;
    list-style: none;

    li {
        height: 45px;
        background: yellow;
        margin: 5px;
        width: 45px;

        a, span, input {
            height: 100%;
            width: 100%;
        }

        &.paginationPageInput {
            width: auto;
            display: flex;
            flex-direction: row;

            span {
                //width: auto;
            }

            input, span {
                width: 45px;
            }
        }
    }
}

.paginationLoading {
    position: relative;
}

.paginationLoading:before {
    display: block;
    content: '';
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.paginationLoading:after {
    width: 64px;
    height: 64px;
    display: block;
    content: '';
    border: 6px solid silver;
    border-color: silver transparent silver transparent;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    animation: loading 1.2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}