/*
=====================================================
    PRODUCT LIST WIDGET
=====================================================
*/
.productListPagination {
    height: auto;
}

.productListWidget {
    height: auto;
    width: 100%;
    font-size: 2rem;
    
    .productList {
        //display: flex;
        //flex-flow: row wrap;
        padding: 2rem 0;
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, $productListTeaseProductWidth);
        grid-gap: 1rem;
        justify-content: space-around;
    }
}

