/*
=====================================================
    PRODUCT CATEGORY
=====================================================
*/
$teaseProductWidth: 200px;

#productList {
    display: flex;
    flex-flow: row wrap;
    padding: 2rem;
    .teaseProduct {
        width: $teaseProductWidth;
        height: auto;
        margin: 0 auto;
    }
}

.teaseProductAnchor {
    width: 100%;
    height: auto;
}

.teaseProductPictureContainer {
    height: $teaseProductWidth;
    width: $teaseProductWidth;
}

.teaseProductPicture {
    max-height: $teaseProductWidth;
    max-width: $teaseProductWidth;
}

.teaseProductTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        overflow: visible;
    }
}

.teaseProductPrice {
    height: auto;
    span {
        width: auto;
        &:not(:only-child) {
            &:first-child {
                text-decoration: line-through;
                padding-right: 3px;
            }

            &:last-child {
                padding-left: 3px;
            }
        }
    }
}

.teaseProductMoreButton {
    width: 100%;
    height: 50px;
    background: black;
    border-radius: 5px;
}