/*
=====================================================
    SHOP NAV MOBILE BUTTON
=====================================================
*/

.shopNavMobileBars {
    height: 12%;
    border-radius: 5px;
    background: silver;
    transition: all 0.3s ease;
}

.changeMobileNavButtonState {

    &:after {
        z-index: -15;
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 30vw;
        height: 100vh;
        cursor: auto;
    }

    #shopNavMobileBar1 {
        transform: rotate(-45deg) translate(-50%, 50%);
    }

    #shopNavMobileBar2 {
        opacity: 0;
    }

    #shopNavMobileBar3 {
        transform: rotate(45deg) translate(-50%, -50%);
    }
}