/*
=====================================================
    SINGLE PRODUCT PAGE - TEASE PRODUCT
=====================================================
*/
#singleProduct {
    .teaseProduct {
        width: 100%;
    }
    
    .teaseProductHeader {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .teaseProductTitle {
        padding: 10px 0;
        font-size: 3rem;
    }
    
    .teaseProductWrapper {
        display: flex;
        flex-direction: column;
    }

    .teaseProductPictureContainer {
        height: $singleProductTeaseProductPictureWidth;
        width: $singleProductTeaseProductPictureWidth;
    }
}

@media screen and (min-width: 600px) {
    #singleProduct {
        .teaseProductWrapper {
            display: grid;
            grid-template-areas: "tHeader tMain" "tHeader tFooter";
            grid-template-columns: $singleProductTeaseProductPictureWidth 1fr;
            grid-template-rows: 1fr auto;
        }
        
        .teaseProductPicture {
            border-radius: 50px;
        }
    
        .teaseProductHeader {
            grid-area: tHeader;
        }
    
        .teaseProductMain {
            grid-area: tMain;
        }
        .teaseProductFooter {
            grid-area: tFooter;
        }
    }
}

@media screen and (min-width: 1200px) {
    #singleProduct {
        $singleProductTeaseProductPictureWidth: 400px;
    
        .teaseProductPictureContainer {
            height: $singleProductTeaseProductPictureWidth;
            width: $singleProductTeaseProductPictureWidth;
        }
    
        .teaseProductWrapper {
            grid-template-columns: $singleProductTeaseProductPictureWidth 1fr;
        }
    }
}

/*
=====================================================
    SINGLE PRODUCT PAGE - DESCRIPTION
=====================================================
*/

#singleProductDescription {
    width: 80%;
    margin: 0 auto;
    background: $bgRepeatingGradient;
    padding: 0 9px 9px 9px;
    border-radius: 0 0 50px 50px;
    box-shadow: 2px 2px 2px 2px #4b4b4b;
}

#singleProductDescriptionWrapper {
    background: white;
    box-shadow: inset 2px 2px 2px 2px #4b4b4b;
    padding: 10px 20px;
    border-radius: 0 0 50px 50px;
    font-size: 2rem;
}
