$teaseProductPictureWidth: 270px;
#singleProduct {
    padding: 20px;
    font-size: 2rem;
    
    .teaseProduct {
        width: 100%;
        padding: 0;
        flex-flow: column;
    }

    #teaseProductContentWrapper {
        flex-flow: column;
        * {
            text-align: center;
        }
        > * {
            width: 80%;
        }
    }
    
    .teaseProductPictureContainer {
        width: $teaseProductPictureWidth;
        height: $teaseProductPictureWidth;
        
        
        .teaseProductPicture {
            max-height: $teaseProductPictureWidth;
            max-width: $teaseProductPictureWidth;
        }
    }

    .teaseProductHeader {
        width: auto;
    }

    .teaseProductFormQuantity {
        width: 100%;
        height: 50px;
    }

    .customSelectSelected {
        height: 50px;
    }

    .teaseProductFormSubmitLabel, .teaseProductFormQuantityLabel {
        height: auto;
        display: block;
    }

    .teaseProductFormSubmitLabel {
        padding-top: 5px;
    }

    .teaseProductForm {
        width: 100%;
    }

    .teaseProductFormSubmit {
        width: 100%;
        height: 80px;
    }
    
}

#singleProductBuyRedirect {
    height: 80px;
}

@media screen and (min-width: 996px) {
    $teaseProductPictureWidth: 400px;
    #singleProduct {
        .teaseProduct {
            flex-flow: row wrap;
        }
        
        #teaseProductContentWrapper {
            width: calc(100% - #{$teaseProductPictureWidth});
            align-items: flex-start;
            padding-left: 20px;
    
            *:not(input) {
                text-align: left;
            }
            
            input[type=submit] {
                text-align: center;
            }
        }
    
        .teaseProductPictureContainer {
            width: $teaseProductPictureWidth;
            height: $teaseProductPictureWidth;
        
        
            .teaseProductPicture {
                max-height: $teaseProductPictureWidth;
                max-width: $teaseProductPictureWidth;
            }
        }
        
        
        
        .teaseProductPrice {
            width: auto;
        }
    }
}
