#thankyouPage {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    font-size: 2rem;
    
    .woocommerce-order-overview {
        list-style: none;
    }
    
    .woocommerce-table {
        
        tfoot {
            th, td {
                width: 200%;
            }
        }
    }
    
    .addresses {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
    }
    
    .addresses > div {
        width: 40%;
        min-width: 200px;
        text-align: center;
    }
}