#wordpressDefault {
    font-size: 2rem;
    padding: 10px 10%;
    h2 {
        text-align: center;
        font-size: 2.5rem;
    }
    
    p + h3 {
        padding: 20px 0 10px 0;
    }
    
    p + h2 {
        padding: 40px 0 20px 0;
    }
    
    h3 {
        font-size: 2.2rem;
        text-align: center;
    }
    
}