<header class='teaseProductHeader'>
    <figure class='teaseProductPictureContainer flexCenterCenter'>
        <img class='teaseProductPicture' src='{{ product.thumbnail.src }}' alt='{{ product.thumbnail.alt }}'/>
    </figure>
    <h3 class='teaseProductTitle'>{{ product.title }}</h3>
</header>