<div class='teaseProductPrice'>
        <span class="teaseProductRegularPrice">
            {% if product.isVariable %}
                {{ product.variable.price }}
            {% else %}
                {{ product.price }}
            {% endif %}
        </span>
    {% if product.isVariable and product.variable.salePrice %}
        <span class="teaseProductSalePrice">
            {{ product.variable.salePrice }}
        </span>
    {% elseif product.salePrice %}
        <span class="teaseProductSalePrice">
            {{ product.salePrice }}
        </span>
    {% endif %}
</div>