<header class='teaseProductHeader'>
    <figure class='teaseProductPictureContainer flexCenterCenter'>
        <img class='teaseProductPicture' src='{{ post.thumbnail.src }}' alt='{{ post.thumbnail.alt }}'/>
    </figure>
    <h3 class='teaseProductTitle'>{{ post.title }}</h3>
</header>