<figure class='teaseProductPictureContainer flexCenterCenter'>
    <img class='teaseProductPicture' src='{{ product.thumbnail.src }}' alt='{{ product.thumbnail.alt }}'/>
    <h3 class='teaseProductTitleS'>{{ product.title }}</h3>
</figure>