<nav id="ftrNav" class="flexCenterCenter">
    <ul id="ftrNavList">
        <li class="ftrNavListItem textAlignCenter">
            <a href="">Regulamin Sprzedaży</a>
        </li>
        <li class="ftrNavListItem textAlignCenter">
            <a href="">Regulamin Sprzedaży</a>
        </li>
        <li class="ftrNavListItem textAlignCenter">
            <a href="">Regulamin Sprzedaży</a>
        </li>
        <li class="ftrNavListItem textAlignCenter">
            <a href="">Regulamin Sprzedaży</a>
        </li>
    </ul>
</nav>
<section id='ftrCopyright'>
    <p class='textAlignCenter'>Copyright &#169; {{'now'|date('Y')}} </p>
    <p class='textAlignCenter'>Powered by theme created by <a class='fontBold'>Kamil Brodziak</a></p>
</section>