<div id="shopNavTopContainer" class="flexCenterCenter">
    {% include 'partials/searchForm.twig' with {'searchType': navType } %}
    <div id='shopNavMobileCloseButton' class="flexCenterCenter">
        <div id='shopNavMobileCloseButtonBar1' class='shopNavMobileBars'></div>
        <div id='shopNavMobileCloseButtonBar2' class='shopNavMobileBars'></div>
        <div id='shopNavMobileCloseButtonBar3' class='shopNavMobileBars'></div>
    </div>
</div>
{% include 'partials/menu.twig' with {'items': menu.get_items, 'menuType': navType, 'navItemAnimation': ''} %}

