<div id="shopNavMobileButtonsContainer">
    <div id="shopNavMobileBackButton" class="shopNavMobileButtons flexCenterCenter"></div>
    <div id='shopNavMobileCloseButton' class="shopNavMobileButtons flexCenterCenter">
        <div id='shopNavMobileCloseButtonBar1' class='shopNavMobileBars'></div>
        <div id='shopNavMobileCloseButtonBar2' class='shopNavMobileBars'></div>
        <div id='shopNavMobileCloseButtonBar3' class='shopNavMobileBars'></div>
    </div>
</div>
{% include 'partials/search.twig' with {'searchType': navType } %}
{% include 'partials/menu.twig' with {'items': menu.get_items, 'menuType': navType, 'navItemAnimation': ''} %}

