<div id="shopNavWrapper" class="transitionEase">
    <div id="shopNavTopContainer" class="flexCenterCenter transitionEase">
        {% include 'partials/search/searchForm.twig' with {'searchType': navType } %}
        <button id='shopNavMobileCloseButton' class="flexCenterCenter">
            <span class='bar transitionEase'></span>
            <span class='bar transitionEase'></span>
            <span class='bar transitionEase'></span>
        </button>
    </div>
    <div id="shopNavListContainer">
        {% include 'partials/menu.twig' with {'items': menu.get_items, 'menuType': navType, 'navItemAnimation': ''} %}
    </div>
</div>
