<section id="orderWidget" class="widget">
    <div id="orderWidgetContentWrapper">
        <div id="orderWidgetCloseButtonContainer" class="gradientButton">
            <button id="orderWidgetCloseButton">Zamknij</button>
        </div>
        <div id="orderWidgetStagesContainer">
            <ul id="orderWidgetStages">
                <li class="orderWidgetStage">Koszyk</li>
                <li class="orderWidgetStage">Dostawa</li>
                <li class="orderWidgetStage">Konto</li>
                <li class="orderWidgetStage">Dane</li>
                <li class="orderWidgetStage">Podsumowanie</li>
                <li class="orderWidgetStage">Zamówienie</li>
            </ul>
        </div>
        <section id="orderWidgetStageContent">
            {% include ['partials/cartWidget.twig'] %}
        </section>
        <nav id="orderWidgetNav">
            <div id="orderWidgetPreviousButtonContainer" class="gradientButton">
                <button id="orderWidgetPreviousButton" class="orderWidgetPaginationLink"><< Koszyk</button>
            </div>
            <div id="orderWidgetNextButtonContainer" class="gradientButton">
                <button id="orderWidgetNextButton" class="orderWidgetPaginationLink">Logowanie >></button>
            </div>
        </nav>
    </div>
</section>