<form {% if searchType %}id='{{ searchType }}Search'{% endif %} class="Search" class="search" method="get" action="{{fn("home_url", '/')}}">
    <label class="searchFieldLabel">
        <input type="text" class="searchField" name="s" placeholder="Search" value="{{ fn('the_search_query') }}">
    </label>
    <input type="hidden" name="post_type[]" value="product" />
    <input type="submit" value="Szukaj">
</form>