<article class="teaseProduct textAlignCenter" data-error_message = 'X'>
    <div class="teaseProductWrapper">
        <header class="teaseProductHeader">
            {% if isSingleProductPage == false %}
                <a class='teaseProductAnchor textAlignCenter' href='{{ product.link }}' data-product_id="{{ product.id }}">
                    {% include ['partials/teaseProduct/teaseProductPicture.twig'] with {'img': product.thumbnail } %}
                    <h3 class='teaseProductTitle overflowHidden'>{{ product.title }}</h3>
                </a>
            {% else %}
                {% if product.gallery and product.gallery is not empty %}
                    {% include ['partials/teaseProduct/teaseProductGallery.twig'] %}
                {% else %}
                    {% include ['partials/teaseProduct/teaseProductPicture.twig'] with {'img': product.thumbnail } %}
                {% endif %}
            {% endif %}
        </header>
        <main class="teaseProductMain">
            {% if isSingleProductPage == true %}
                <h3 class='teaseProductTitle overflowHidden'>{{ product.title }}</h3>
            {% endif %}
            {% include ['partials/teaseProduct/teaseProductPrice.twig'] %}
        </main>
        <footer class='teaseProductFooter flexCenterCenter'>
            {% include ['partials/teaseProduct/teaseProductForm.twig'] %}
        </footer>
    </div>
</article>