<article {{ fn('post_class', ['$classes', 'entry', 'teaseProduct'] ) }}>
    <a class='teaseProductAnchor textAlignCenter' href='{{ product.link }}' data-product_id="{{ product.id }}">
        {% include ['partials/teaseProduct/teaseProductHeader.twig'] %}
    </a>
    {% include ['partials/teaseProduct/teaseProductPrice.twig'] %}
    {% include ['partials/teaseProduct/teaseProductFooter.twig'] %}
</article>