<div class="productListWidget">
    <div class="productListPagination">
        {% include ['partials/pagination.twig'] %}
    </div>
    <div class='productList'>
        {% include ['partials/productList.twig'] %}
    </div>
    <div class="productListPagination">
        {% include ['partials/pagination.twig'] %}
    </div>
</div>