.transitionEase {
    transition: all 0.3s ease;
}

.fontBold {
    font-weight: bold;
}

.textAlignCenter {
    text-align: center;
}

.colorSilver {
    color: silver;
}

.flexCenterCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listStyleNone {
    list-style: none;
}

.hide {
    display: none !important;
}

.imgContainer img {
    max-width: 100%;
    max-height: 100%;
}

.borderRadiusTenTopFiftyBottom {
    border-radius: 10px 10px 50px 50px;
}

.borderRadiusTen {
    border-radius: 10px;
}

.overflowHidden {
    overflow: hidden;
}

.closeSign {
    background: linear-gradient(45deg, transparent calc(50% - 5px), #474646 calc(50% - 5px),#474646 50%,
            #2b2b2b 50%, #2b2b2b calc(50% + 5px), transparent calc(50% + 5px), transparent) no-repeat center / 80% 80%,
    linear-gradient(-45deg, transparent calc(50% - 5px), #474646 calc(50% - 5px),#474646 50%, #2b2b2b 50%,
                    #2b2b2b calc(50% + 5px), transparent calc(50% + 5px), transparent) no-repeat center / 80% 80%;
}

.widget {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 100%;
    background: rgba(0,0,0,0.9);
    height: calc(var(--vh, 1vh) * 100);
}

@media all and (min-width: 996px) {
    .widget {
        width: 90vw;
        height: 90vh;
        top: 5vh;
        left: 5vw;
        
        &:after {
            z-index: -1;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: calc(var(--vh, 1vh) * 100);
            content: '';
        }
    }
}