.cartItemImgContainer {
    height: 200px;
    width: 200px;
}

.cartItemQuantity {
    height: 50px;
    width: 50px;
}

.cartItemRemove {
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
}

.cartSummary {
    width: 50%;
    min-width: 200px;
    margin: 0 0 20px auto;
}

@media all and (max-width: 700px) {
    .cartItems {
        td {
            &:first-of-type {
                width: 100%;
                padding: 10px;
                a {
                    width: auto;
                }
                
                &:before {
                    display: none;
                }
            }
        }
    }
}

@media all and (min-width: 700px) and (max-width: 1200px) {
    .cartItems {
        td {
            font-size: 1.6rem;
        }
    }
}
@media all and (min-width: 700px) {
    .cartItemImgContainer {
        height: 120px;
        width: 120px;
    }
    
    .cartItems {
        th:first-child {
            width: 44%;
        }
        
        th:not(:first-child):not(:last-child) {
            width: 12%;
        }
        
        th:last-child {
            width: 20%;
        }
    }
}

#cartCouponLabel {
    width: 100%;
    display: block;
}

#cartCouponInput, #cartCouponMessage {
    width: calc(100% - 20px);
    margin: 0 10px;
}

#cartTotalsTable {
    table-layout: fixed;
    width: calc(100% - 20px);
    margin: 0 10px;
    th {
        padding: 5px 5px 5px 0;
        text-align: right;
    }
    td {
        padding: 5px 0 5px 5px;
        text-align: left;
    }
}


