<section id="siteMainFloatingButtons">
    <div id="cartButton" class="flexCenterCenter">
        <figure id="cartButtonImgContainer" class="flexCenterCenter imgContainer">
            <img src="{{ fn('getImgDir') }}/cart2.webp" id="cartButtonImg" alt="Cart icon">
        </figure>
        <a href="{{ fn('wc_get_cart_url') }}" id="cartButtonSummary" class="flexCenterCenter colorSilver fontBold">
            <span id="cartButtonQuantity" class="textAlignCenter">{{ fn('getCartProductsQuantity') }}</span>
        </a>
    </div>
</section>