#shopSearch {
    height: 100%;
    padding: $mobileNavSearchPadding;
    flex: 1;
    display: flex;
    flex-flow: row;
    position: relative;
}

@media all and (min-height: $breakNavHeight) and (min-width: $breakDesktop) {
    #shopSearch {
        flex-flow: column;
    }
}

#shopSearchFieldLabel {
    display: block;
    flex: 1;
    height: 100%;
}

@media all and (min-height: $breakNavHeight) and (min-width: $breakDesktop) {
    #shopSearchFieldLabel {
        width: 100%;
        height: 50px;
        padding: 0 0 5px 0;
    }
}

#shopSearchField {
    width: 100%;
    height: 100%;
}

#shopSearchSubmitContainer {
    height: 100%;
    width: auto;

}

@media all and (min-height: $breakNavHeight) and (min-width: $breakDesktop) {
    #shopSearchSubmitContainer {
        width: 100%;
    }
}

#shopSearchSubmit {
    height: 100%;
    width: $mobileNavSearchSubmitWidth;
    margin: 0 0 0 10px;
}

@media all and (min-height: $breakNavHeight) and (min-width: $breakDesktop) {
    #shopSearchSubmit {
        height: 50px;
        width: 100%;
        margin: 0;
    }
}

/*
=====================================================
    SHOP SEARCH - RESULTS
=====================================================
*/
#shopSearchResults {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    width: 100%;
    overflow-y: auto;
    display: none;
    background: linear-gradient(45deg, black, #242424, black);
    z-index: 101;
    
    &.active {
        display: block;
    }
    
    .searchResultsInfo {
        display: block;
        font-size: 2rem;
        padding: 20px 10px;
    }
    
    .searchResultsList {
        display: flex;
        flex-flow: column;
        max-height: 300px;
        height: auto;
    }
    
    .searchResultsListItem {
        padding: 10px;
        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }
    }
    
    .searchResultAnchor {
        width: 100%;
        height: auto;
        color: silver;
        font-size: 2rem;
        padding: 15px 0;
    }
}

@media all and (min-height: $breakNavHeight) and (min-width: $breakDesktop) {
    #shopSearchResults {
        top: 0;
        left: 100%;
        width: 200%;
    }
}