{% block html_head_container %}
    {% include 'partials/html-header.twig' %}
        {% block head %}
        {% endblock %}
        </head>
    {% endblock %}
	<body class='{{body_class}}' data-template='base.twig'>
        <div id='siteContainer'>
            {% block header %}
                <header id='siteHeader' class='hashGradient'>
                    {% include 'partials/header.twig' %}
                </header>
            {% endblock %}
            <main id="siteMain">
                <nav id="shopNav">
                    {% block nav %}
                        {% include 'partials/nav.twig' with {'navType': 'shop'} %}
                    {% endblock %}
                </nav>
                <section id="siteMainContent">
                    {% block content %}
                        Sorry, no content
                    {% endblock %}
                </section>
            </main>
            {% block footer %}
                <footer id='siteFooter' class='hashGradient'>
                    {% include 'partials/footer.twig' %}
                </footer>
                {{ function('wp_footer') }}
            {% endblock %}
        </div>
	</body>
</html>
