{% extends 'page.twig' %}

{% block pageContent %}
    <div id='checkoutPage'>
        {#        {{post.content}}#}
        {#        {{ fn('getShippingMethods') }}#}
        {% include ['partials/checkoutWidget.twig'] %}
    </div>
{% endblock %}