{% extends 'base.twig' %}

{% block content %}
	<article id='pageArticle'>
		<header id='pageHeader'>
			<h1 id='pageTitle' class='header1Gradient'>{{post.title}}</h1>
		</header>
		<section id='pageContent'>
			{% block pageContent %}
                <div id="wordpressDefault">
                    {{post.content}}
                </div>
			{% endblock %}
		</section>
	</article>
{% endblock %}