{% extends 'base.twig' %}

{% block content %}
    <div id="cartPage">
        <div id="cartPageCartWidgetContainer">
            {% include ['partials/widgets/orderWidget.twig'] %}
        </div>
    </div>
{% endblock %}
{% block floatingButtons %}
{% endblock %}