{% extends 'page.twig' %}

{% block pageContent %}
    <div id='thankyouPage'>
        Dziękujemy. Twoje zamówienie zostało przez nas odebrane.
        {% include 'partials/account/order.twig' %}
    </div>
{% endblock %}