{% extends 'base.twig' %}

{% block content %}
    <div id='contactPage'>
        {{ post.content }}
        <ul id='contactPageList' class='fontBold listStyleNone textAlignCenter'>
            <li>Email: <a href="mailto:{{ site.admin_email }}" class="blackLink">{{ site.admin_email }}</a></li>
            <li>Phone: <a href="tel:+48785807958" class="blackLink">(+48) 785 807 958</a></li>
        </ul>
        {% include 'partials/emailForm.twig' with {'location': 'page'}%}
    </div>
{% endblock %}