{% extends 'base.twig' %}

{% block content %}
    <div id="accountPage">
        {% include 'partials/account/menu.twig' %}
        <section id="accountPageContent">
            {% if addresses %}
                {% include 'partials/account/addresses.twig' %}
            {% elseif isEditAddress or isDetails %}
                <div id="accountEditAddress" class="textAlignCenter styledExternalLinksContainer styledExternalButtonContainer styledExternalInputContainer styledExternalTableContainer styledExternalTableContainerMobile">
                    {{post.content}}
                </div>
            {% elseif isOrders %}
                {% include 'partials/account/orders.twig' %}
            {% elseif isViewOrder %}
                <div id="accountViewOrder" class="themeTable themeTableMobile">
                    {% include 'partials/account/order.twig' %}
{#                    {{post.content}}#}
                </div>
            {% else %}
                <div id="accountDefault" class="styledExternalInputContainer styledExternalButtonContainer textAlignCenter styledExternalLinksContainer styledExternalTableContainer styledExternalTableContainerMobile">
                    {{post.content}}
                </div>
            {% endif %}
        </section>
    </div>
{% endblock %}