{% extends 'base.twig' %}

{% block content %}
    {{post.content}}
    {% block products %}
        <div id='productList'>
            {% for post in products %}
                {% include ['partials/tease-product.twig'] %}
            {% endfor %}
        </div>
    {% endblock %}
    {% do action('woocommerce_after_shop_loop') %}
{% endblock %}