{% extends 'base.twig' %}

{% block content %}
    <div id="accountPageLoginWidgetContainer">
        {% include ['partials/loginWidget.twig'] %}
    </div>
{#    <div id='customWoocommerce'>#}
{#        {{post.content}}#}
{#    </div>#}
{% endblock %}