{% extends 'base.twig' %}

{% block content %}
    {% block shopContent %}
        {{post.content}}
    {% endblock %}
    {% block products %}
        <div id="shopPageProductListWidget" data-category="{{ title }}">
            {% include ['partials/widgets/productListWidget.twig'] %}
        </div>
    {% endblock %}
{% endblock %}