{% extends 'base.twig' %}

{% block content %}
    {% block shopContent %}
        {{post.content}}
    {% endblock %}
    {% block products %}
        {% if category.description %}
            <div id="shopCategoryDescription" class="textAlignCenter">
                {{ category.description }}
            </div>
        {% endif %}
        <div id="shopPageProductListWidget" data-category="{{ title }}">
            {% include ['partials/widgets/productListWidget.twig'] %}
        </div>
    {% endblock %}
{% endblock %}