{% extends 'base.twig' %}

{% block content %}
    <div id='customWoocommerce'>
{#        {{post.content}}#}
{#        {{ fn('getShippingMethods') }}#}
        {% include ['partials/checkoutWidget.twig'] %}
    </div>
{% endblock %}