{% extends 'base.twig' %}

{% block content %}
    <div id='checkoutPage'>
        {#        {{post.content}}#}
        {#        {{ fn('getShippingMethods') }}#}
        {% include ['partials/widgets/checkoutWidget.twig'] %}
    </div>
{% endblock %}
{% block floatingButtons %}
{% endblock %}
