{% extends "page-shop.twig" %}

{% block products %}
    <div id="shopPageProductListWidget" data-search="{{ searchQuery }}">
        {% include ['partials/widgets/productListWidget.twig'] %}
    </div>
{% endblock %}