{% extends 'base.twig' %}

{% block content %}
    <article itemscope id="singleProduct" itemtype='http://schema.org/Product'>
        <div id="singleProductTeaseContainer" class="teaseProductContainer flexCenterCenter">
            {% include 'partials/teaseProduct.twig' with { 'isSingleProductPage': true } %}
        </div>
        <section id='singleProductDescription'>
            <div id="singleProductDescriptionWrapper">
                <h2 id='singleProductDescriptionHeader' class='header2Gradient flexCenterCenter textAlignCenter'>Opis produktu:</h2>
                <div id='singleProductDescriptionContent'>{{ post.content }}</div>
            </div>
        </section>
        <meta itemprop='url' content='{{ post.link }}' />
    </article>
{% endblock  %}