#siteFooter{
    display: flex;
    flex-flow: column;
    box-shadow: 0 0 8px 4px $colorLightGray;
    border-radius: 10px 10px 0 0;
    z-index: 10;
    background: $buttonGradient;
}

#ftrNav, #ftrInfo {
    padding: 30px 0;
}

#ftrInfoList, #ftrNavList {
    width: 80%;
    flex-flow: row wrap;
    li {
        width: 100%;
        padding: 10px 0;
    }
}

#ftrCopyright {
    background: linear-gradient(to bottom, #727272, silver, #727272);
    font-size: 1.6rem;
    padding: 5px;
    grid-area: ftrCopyright;
}

@media screen and (min-width: 600px) {
    #ftrNavList {
        li {
            width: 50%;
        }
    }
}

@media screen and (min-width: 800px) {
    #siteFooter {
        grid-template-areas: "ftrNav ftrInfo" "ftrCopyright ftrCopyright";
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto;
    }
    
    #ftrInfo {
        grid-area: ftrInfo;
    }
    
    #ftrNav {
        grid-area: ftrNav;
    }
}

