#hdrContainer {
    display: flex;
    flex-flow: column;
    background: var(--gradientBlack);
    position: relative;
    z-index: 10;
}

@media screen and (min-width: $breakDesktop) and (min-height: $breakNavHeight) {
    #hdrContainer {
        box-shadow: 0 0 12px 8px $colorLightGray;
        border-radius: 0 0 10px 10px;
    }
}

#hdrLogoContainer {
    width: 100%;
    padding: 20px;
    height: 180px;
}

@media screen and (min-width: 400px) {
    #hdrLogoContainer {
        height: 250px;
    }
}

@media screen and (min-width: 600px) {
    #hdrLogoContainer {
        height: 320px;
    }
}

#hdrLogoLink {
    height: 100%;
}

#hdrContactInfoList {
    display: none;
}

@media screen and (min-width: $breakDesktop) {
    #hdrContactInfoList {
        display: flex;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 2rem;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
}

.hdrContactInfoListItem {
    padding: 0 10px;
}

#hdrMenuList {
    width: 100%;
    flex-flow: row wrap;
}

.hdrMenuListItem {
    flex: 1 0 220px;
}
