#accountNavList {
    flex-flow: column;
}

.accountNavListItem {
    width: 80%;
    min-width: 250px;
}

#accountPageContent {
    width: 80%;
    margin: 0 auto;
}

#accountAddresses {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.accountAddress {
    width: 40%;
    min-width: 200px;
}

#accountEditAddress, #accountDefault  {
    input {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    
    button {
        border-radius: 10px;
    }
}

