#accountPage {
    margin: 20px 0;
}

#accountNavList {
    flex-flow: column;
}

.accountNavListItem {
    width: 80%;
    min-width: 250px;
}

#accountPageContent {
    font-size: 2rem;
    width: 80%;
    margin: 0 auto;

}

#accountDefault {
    mark {
        background: white;
        font-weight: bold;
    }
}

#accountAddresses {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.accountAddress {
    width: 40%;
    min-width: 200px;
    text-align: center;
}

#accountEditAddress {
    input {
        display: block;
        width: 90%;
        margin: 0 auto;
        font-size: 2rem;
        height: 50px;
    }
    
    button {
        border-radius: 10px;
    }
}

