#checkoutPage {
    input[type=checkbox] {
        height: 50px;
        width: 50px;
        margin: 0 5px 0 0;
    }
    
    input[type=radio] {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        &:checked {
            background: radial-gradient(silver, #b4b4b4 40%, transparent 45%),
            linear-gradient(black, #242424, black);
        }
    }
    
    .woocommerce-error {
        text-align: center;
        padding: 20px 10%;
        animation: 2s warning infinite;
    }
    
    .woocommerce-form__label-for-checkbox {
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: center;
        span {
            display: block;
            width: auto;
        }
    }
}

.checkoutWidgetLoginRequired {
    display: block;
    font-size: 2.5rem;
    color: darkred;
}

@import "checkout/stages";
@import "checkout/billing";
@import "checkout/summary";
@import "checkout/payment";
@import "checkout/nav";