#pageContactForm {
    padding: 5% 10%;
    display: flex;
    flex-flow: column;
    position: relative;
    
    .contactFormSuccessInfo, .contactFormFailInfo {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: rgba(0,0,0,0.9);
        border-radius: 5px;
        border: 5px solid black;
        
        span {
            width: 100%;
            height: 100%;
        }
    }
    
    .contactFormLabel {
        width: 100%;
        padding-bottom: 20px;
    }
    
    .contactFormLabelTitle {
        display: block;
        width: 100%;
    }
    
    .contactFormInput {
        height: 50px;
        width: 100%;
    }
    
    .contactFormTextarea {
        width: 100%;
        height: 250px;
    }
}