#singleProduct {
    display: flex;
    flex-flow: column;
}

#singleProductDescription {
    padding: 0 20px;
}

#singleProductDescriptionContent {
    padding: 0 20px;
}

@media screen and (min-width: 500px) {
    #singleProductTeaseContainer {
        .teaseProduct {
            width: 400px;
        }
        .teaseProductPictureContainer {
            width: 100%;
            height: 380px;
        }
    }
}

@media screen and (min-width: 1350px) {
    #singleProduct {
        flex-flow: row;
    }
    #singleProductTeaseContainer {
        width: auto;
        height: auto;
    }
    
    #singleProductDescriptionHeader {
        margin: 0 0 20px 0;
    }
    #singleProductDescription {
        flex: 1;
    }
}

